@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card_background {
  background-color: #f2ebe3;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_background .card_container {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (orientation: landscape) {
  .card_background .card_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .card_background .card_container {
    width: 42%;
    height: 55%;
  }
}

.card_background .card_container .card_img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40%;
  width: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

@media screen and (orientation: landscape) {
  .card_background .card_container .card_img_wrapper {
    height: auto;
    width: 40%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 1024px) {
  .card_background .card_container .card_img_wrapper {
    width: 45%;
  }
}

.card_background .card_container .card_img_wrapper .card_img {
  content: url("../images/image-product-mobile.jpg");
}

@media screen and (min-width: 1024px) {
  .card_background .card_container .card_img_wrapper .card_img {
    content: url("../images/image-product-desktop.jpg");
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.card_background .card_container .card_descriptions_container {
  padding: 1.25em;
  height: 60%;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (orientation: landscape) {
  .card_background .card_container .card_descriptions_container {
    height: auto;
    width: 55%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .card_background .card_container .card_descriptions_container {
    padding: 1.75em 2.75em 1.75em 3.25em;
  }
}

.card_descriptions_container .product_type {
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.625rem;
  color: #6c7289;
  margin-left: -2px;
}

@media screen and (min-width: 360px) {
  .card_descriptions_container .product_type {
    font-size: 0.75rem;
  }
}

.card_descriptions_container .product_name {
  font-family: "Fraunces";
  font-size: 1.5rem;
  font-weight: 700;
  color: #1c232b;
}

@media screen and (min-width: 360px) {
  .card_descriptions_container .product_name {
    font-size: 2rem;
  }
}

.card_descriptions_container .product_description {
  font-family: "Montserrat";
  font-size: 0.875rem;
  color: #6c7289;
  line-height: 1.125rem;
}

@media screen and (min-width: 360px) {
  .card_descriptions_container .product_description {
    line-height: 1.25rem;
  }
}

.card_descriptions_container .product_prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_descriptions_container .product_prices .product_price {
  font-family: "Fraunces";
  font-size: 1.5rem;
  color: #3c8067;
  font-size: 1.75rem;
}

.card_descriptions_container .product_prices .product_previous_price {
  font-family: "Montserrat";
  text-decoration: line-through;
  color: #6c7289;
  margin-left: 15px;
  font-size: 0.625rem;
  font-size: 0.75rem;
}

.card_descriptions_container .add_to_cart_btn {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 0.35px;
  background-color: #3c8067;
  color: white;
  height: 40px;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 360px) {
  .card_descriptions_container .add_to_cart_btn {
    height: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .card_descriptions_container .add_to_cart_btn:hover {
    cursor: pointer;
    background-color: #1c232b;
  }
}
/*# sourceMappingURL=style.css.map */